<div class="d-flex align-items-center justify-content-center">
  <h1>Well Hello There!</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
  <b>The battle is over! We have won!!</b>
</div>
<div class="d-flex align-items-center justify-content-center">
  <% if @user %>
    <b> <%= @user.email %> </b>
    <%= button_to "Logout", logout_path, method: :delete %>
  <% end %>
</div>


